---
http_interactions:
- request:
    method: get
    uri: https://api.ethermine.org/miner/703a08bd7ee10d5f34950527ea957afd818e82a7/history
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      Etag:
      - W/"583c-8Mn/Migv77qWa/qlJ+w6iv6R1N8"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","data":[{"time":1508200200,"reportedHashrate":0,"currentHashrate":264222222.2222222,"validShares":230,"invalidShares":0,"staleShares":12,"averageHashrate":257339891.97530848,"activeWorkers":3},{"time":1508200800,"reportedHashrate":0,"currentHashrate":262777777.7777778,"validShares":230,"invalidShares":0,"staleShares":10,"averageHashrate":257266975.3086418,"activeWorkers":3},{"time":1508201400,"reportedHashrate":0,"currentHashrate":276833333.3333334,"validShares":242,"invalidShares":0,"staleShares":11,"averageHashrate":257248070.98765415,"activeWorkers":3},{"time":1508202000,"reportedHashrate":0,"currentHashrate":276888888.8888889,"validShares":244,"invalidShares":0,"staleShares":8,[...]
