---
http_interactions:
- request:
    method: get
    uri: https://api.ethermine.org/miner/703a08bd7ee10d5f34950527ea957afd818e82a7/workers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      Etag:
      - W/"28f-HhA4kpQY1YoWD9SFxXG5Y1J47no"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","data":[{"worker":"bitty-balls","time":1508286000,"lastSeen":1508285995,"reportedHashrate":0,"currentHashrate":118055555.55555555,"validShares":103,"invalidShares":0,"staleShares":5,"averageHashrate":128274647.88732386},{"worker":"bitty-booge","time":1508286000,"lastSeen":1508285986,"reportedHashrate":0,"currentHashrate":95833333.33333333,"validShares":83,"invalidShares":0,"staleShares":5,"averageHashrate":86929783.95061728},{"worker":"bitty-boosh","time":1508286000,"lastSeen":1508285992,"reportedHashrate":0,"currentHashrate":33666666.666666664,"validShares":29,"invalidShares":0,"staleShares":2,"averageHashrate":24534428.79499217}]}'
  recorded_at: Wed, 18 Oct 2017 00:29:25 GMT
recorded_with: VCR 3.0.3
