---
http_interactions:
- request:
    method: get
    uri: https://api.ethermine.org/miner/703a08bd7ee10d5f34950527ea957afd818e82a7/rounds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      Etag:
      - W/"a75e-kMa2RXIbzqw9qEOY/fYykl5CUM0"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","data":[{"block":4379970,"amount":288931092421302},{"block":4379925,"amount":423360608921837},{"block":4379891,"amount":237287069081746},{"block":4379855,"amount":180489453462588},{"block":4379816,"amount":311442118126620},{"block":4379779,"amount":329659999754502},{"block":4379734,"amount":223016721707115},{"block":4379698,"amount":300495474083714},{"block":4379654,"amount":334729448569721},{"block":4379616,"amount":269853781725080},{"block":4379573,"amount":293732054883977},{"block":4379535,"amount":319222912028313},{"block":4[...]
