---
http_interactions:
- request:
    method: get
    uri: https://api.ethermine.org/miner/703a08bd7ee10d5f34950527ea957afd818e82a7/currentStats
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '91'
      Etag:
      - W/"17e-ulQY1fxTeZKJYmHIeCGxhcGunp8"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","data":{"time":1508286600,"lastSeen":1508286591,"reportedHashrate":0,"currentHashrate":252388888.8888889,"validShares":220,"invalidShares":0,"staleShares":11,"averageHashrate":207878952.1228546,"activeWorkers":3,"unpaid":360562059249128900,"unconfirmed":null,"coinsPerMin":0.000024037560177154124,"usdPerMin":0.00756101455372383,"btcPerMin":0.0000013660545448676688}}'
  recorded_at: Wed, 18 Oct 2017 00:34:31 GMT
recorded_with: VCR 3.0.3
