---
http_interactions:
- request:
    method: get
    uri: https://api.ethermine.org/servers/history
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      Etag:
      - W/"9137-6HwBvZ1XXuxnl8RG55YtoGaY9Pg"
      Apicache-Store:
      - redis
      Apicache-Version:
      - 0.8.7
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","data":[{"time":1508172600,"server":"asia1","hashrate":6897263944444.48},{"time":1508172600,"server":"eu1","hashrate":14866880666667.344},{"time":1508172600,"server":"us1","hashrate":3408689777777.788},{"time":1508172600,"server":"us2","hashrate":1355141944444.4414},{"time":1508173200,"server":"asia1","hashrate":6921449722222.255},{"time":1508173200,"server":"eu1","hashrate":14993766333334.11},{"time":1508173200,"server":"us1","hashrate":3383736722222.242},{"time":1508173200,"server":"us2","hashrate":1360903444444.4487},{"time":1508173800,"server":"[...]
