---
http_interactions:
- request:
    method: get
    uri: https://api.ethermine.org/blocks/history
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      Etag:
      - W/"670-oQF+tEh48neOz+j9Gg4ov3Mz4ic"
      Apicache-Store:
      - redis
      Apicache-Version:
      - 0.8.7
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","data":[{"time":1508173116,"nbrBlocks":6,"difficulty":1500851769972565},{"time":1508176754,"nbrBlocks":71,"difficulty":1490565102661709},{"time":1508180255,"nbrBlocks":63,"difficulty":1485411233184469},{"time":1508183963,"nbrBlocks":69,"difficulty":1482345151336005},{"time":1508187588,"nbrBlocks":67,"difficulty":1472940408912663},{"time":1508191076,"nbrBlocks":83,"difficulty":1498876631868662},{"time":1508194764,"nbrBlocks":67,"difficulty":1521695354212893},{"time":1508198352,"nbrBlocks":73,"difficulty":1511254695943273},{"time":1508201976,"nbrBloc[...]
