---
http_interactions:
- request:
    method: get
    uri: https://api.ethermine.org/networkStats
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '83'
      Etag:
      - W/"92-50mqj93cGvmrB0tX8HuD2Z14e3I"
      Apicache-Store:
      - redis
      Apicache-Version:
      - 0.8.7
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","data":{"time":1508258052,"blockTime":14.3039,"difficulty":1458581131117615,"hashrate":109164314474671,"usd":320.63,"btc":0.05737}}'
  recorded_at: Tue, 17 Oct 2017 16:45:58 GMT
recorded_with: VCR 3.0.3
